
    <h3 class="container" style="color: rgba(247, 245, 245, 0.87);">Update Menu.<br><br></h3>
    <div class="container">
    <form #update="ngForm" (ngSubmit)="onupdatemenu(update)">
      <div>
        <div class="form-group">
        <input 
          type="text" 
          style="background-color:rgb(247, 244, 244) ;"
          class="form-control" 
          id="name" 
          placeholder="Enter menu name"
          name="name"
          #name="ngModel"
          ngModel
          [(ngModel)]="menu.name"
          >
          <br>
        </div>
        
        
        
    
        <button type="submit" style="background:none;border-color: rgba(183, 215, 223, 0.847);" class="btn btn-primary">Update</button>
   
    </div>
    