
<h3 class="container" style="color: rgba(247, 245, 245, 0.87);">Update Item. <br><br></h3>
    <div class="container">
    <form #update="ngForm" (ngSubmit)="onupdate(update)">
<br>
        <div class="form-group">
            <input 
              type="number" 
              style="background-color:rgb(247, 244, 244) ;"
              class="form-control" 
              id="item_quantity" 
              placeholder="Enter item quantity"
              name="item_quantity"
              #item_quantity="ngModel"
              ngModel
              [(ngModel)]="items.quantity"
              >
        </div>
        <br>
        <div class="form-group">
          <input 
            type="number" 
            style="background-color:rgb(247, 244, 244) ;"
            class="form-control" 
            id="c_id" 
            placeholder="Enter Customer id"
            name="c_id"
            #c_id="ngModel"
            ngModel
            [(ngModel)]="items.orders.id"
            >
      </div>
        <br>
        <div class="form-group">
            <input 
              type="number" 
              style="background-color:rgb(247, 244, 244) ;"
              class="form-control" 
              id="p_id" 
              placeholder="Enter product id"
              name="p_id"
              #p_id="ngModel"
              ngModel
              [(ngModel)]="items.products.id"
              >
        </div>
        <br>
        
        
    
        <button type="submit" style="background:none;border-color: rgba(183, 215, 223, 0.847);" class="btn btn-primary">Update</button>
   

    