<div class="card bg-dark text-black">
<img src="https://mma.prnewswire.com/media/1159266/Clarivate_Analytics.jpg?p=facebook" alt="Card image" width="100%" height="100%">
<div class="container" class="card-img-overlay" >
    <h3 class="container">Update Orders</h3>
    <div class="container">
    <form #update="ngForm" (ngSubmit)="onupdate(update)">
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="id" 
              placeholder="Enter id"
              name="id"
              #id="ngModel"
              ngModel
              [(ngModel)]="bill.id"
              >
        </div>
        <div class="form-group">
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="Enter Customer Email"
              name="email"
              #email="ngModel"
              ngModel
              [(ngModel)]="bill.email"
              >
        </div>
        
        
    
        <button type="submit" class="btn btn-primary">Send Bill</button>
   

    